#map {
    position: relative;
    height: 100vh;
}

.map-overlay {
    position: relative;
    padding: 12px;
    height: 100vh;
    background-color: #eee;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-right: 1px solid #ddd;
    background-size: 4px 4px;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff !important;
} */